{% extends "base.html" %}
{% block content %}

<header>
    <h2>Companies</h2>
</header>

    <article class="company-list">
        <table>
            <tbody>
                {% for company in companies %}
                <tr>
                    <td>
                        {{ company.name }}
                    </td>
                    <td class="small-edit-button">
                        <a href="/companies/{{ company.id }}/edit">Edit company</a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      
</article>
    
    <aside>
        <nav>
            <ul>
                <li class="green-button"><h3><a href="/companies/add">Add company</a></h3></li>
                <li class="blue-button"><h3><a href="/">View transactions</a></h3></li>
            </ul>
        </nav>
    </aside>

{% endblock %}