{% extends "base.html" %}
{% block content %}

<header>
    <h2>Companies</h2>
</header>

    <article class="company-list">
        <table>
            <tbody>
                {% for company in companies %}
                <tr>
                    <td>
                        {{ company.name }}
                    </td>
                    <td>
                        <a class="small-edit-button" href="/companies/{{ company.id }}/edit"><i class="fas fa-pen fa-xs"></i> Edit company</a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      
</article>
    
    <aside>
        <nav>
            <ul>
                <li class="green-button"><h3><a href="/companies/add"><i class="fas fa-plus"></i> Add company</a></h3></li>
                <li class="blue-button"><h3><a href="/"><i class="fas fa-chart-line"></i> View transactions</a></h3></li>
            </ul>
        </nav>
    </aside>

{% endblock %}