{% extends "base.html" %}
{% block content %}

<header>
    <h2>Companies</h2>
</header>
{% for company in companies %}
    <article class="company-list">
        <ul>
            <li>{{ company.name }}</li>
            <li><a href="/companies/{{ company.id }}/edit">Edit company</a></li>
        </ul>       
</article>
    
{% endfor %}
    <aside>
        <nav>
            <ul>
                <li><a href="/companies/add">Add company</a></li>
                <li><a href="/">View transactions</a></li>
            </ul>
        </nav>
    </aside>

{% endblock %}