.small-edit-button {
    color: fff;
    background-color: #ba3b3b;
    width: 23%;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.small-edit-button:hover {
    background-color: #942f2f;
}

.small-edit-button:visited {
    text-decoration: none;
}

.green-button a {
    display: block;
    color: white;
    padding: 12px;
    border: none;
    background-color: #457d17;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    transition-duration: 0.4s;
}

.green-button a:hover {
    background-color: #3e7014;
}

button {
    display: block;
    padding: 12px;
    border:0 none;
    background-color: #457d17;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    transition-duration: 0.4s;
    color: #fff;

}

button:hover {
    background-color: #3e7014;
}



.blue-button a {
    display: block;
    color: white;
    padding: 12px;
    border: none;
    background-color: #2d4059;
    border-radius: 3px;
    text-align: center;
    transition-duration: 0.4s;
}

.blue-button a:hover {
    background-color: #243347;
}