body {
    margin: 0;
}

body > header > h1 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 3em; 
    padding: 20px;
    margin-left: 30px;
}

body > header > h1 > a {
    color:#ba3b3b;
}

body > header > h1 > a:visited {
    color:#ba3b3b;
}

body > main {
    font-family: 'Merriweather Sans', sans-serif;
}

main {
    display: grid;
    grid-template-areas: 
    'blue-header blue-header'
    'article aside';
    grid-template-columns: 6fr 3fr;
}

main > header {
    background-color: #2d4059;
    padding: 10px;
    width: 100vw;
    grid-area: blue-header;
}

main > header > h2 {
    color: #fff;
    font-size: 3em;
    text-align: center;
}

ul {
    list-style: none;
}

table {
    table-layout: fixed;
    width: 85%;
    border-collapse: collapse;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
    background-color: #e5e5e5;
}
thead th:nth-child(1) {
    width: 50%;
  }
  
thead th:nth-child(2) {
    width: 20%;
  }
  
thead th:nth-child(3) {
    width: 30%;
  }
th, td {
    padding: 20px;
  }

tbody td {
    text-align: center;
  }

thead {
    background-color: #2d4059;
    color: white;
  }

tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
tbody tr:nth-child(even) {
    background-color: #e5e5e5;
  }

  tbody tr:hover {
    background-color: #cecece;
  }

aside > nav {
    margin-top: 30%;
    margin-right: 5%;
    margin-left: 5%;
    justify-self: start;
}

aside > nav > ul {
    margin: 5%;
}
.green-button a {
    display: block;
    color: white;
    padding: 12px;
    border: none;
    background-color: #457d17;
    border-radius: 3px;
    margin: 20px;
    text-align: center;
}

.green-button a:hover {
    background-color: #3e7014;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #fff;
}