body {
    margin: 0;
}

body > main {
    font-family: 'Merriweather Sans', sans-serif;
}

main {
    display: grid;
    grid-template-areas: 
    'blue-header blue-header'
    'article aside';
    grid-template-columns: 6fr 3fr;
}

article {
  justify-content: center;
}

ul {
    list-style: none;
}

table {
    table-layout: fixed;
    width: 85%;
    border-collapse: collapse;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
    background-color: #e5e5e5;
    border-radius: 1em;
}
thead th:nth-child(1) {
    width: 50%;
  }
  
thead th:nth-child(2) {
    width: 20%;
  }
  
thead th:nth-child(3) {
    width: 30%;
  }
th, td {
    padding: 20px;
  }

tbody td {
    text-align: center;
  }

thead {
    background-color: #2d4059;
    color: white;
  }

tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
tbody tr:nth-child(even) {
    background-color: #e5e5e5;
  }

  tbody tr:hover {
    background-color: #cecece;
  }

aside > nav {
    margin-top: 30%;
    margin-right: 8%;
    margin-left: 5%;
    justify-self: start;
}

aside > nav > ul {
    margin: 5%;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}