{% extends "base.html" %}

{% block content %}
<header>
    <h2>Total spend: {{ total }}</h2>
</header>
 <!-- Add category icon if possible - if else block -->
{% for transaction in all_transactions %}
    <article class="transaction-list">
        <ul>
            <li>{{ transaction.company.name }}</li>
            <li>£{{ transaction.amount }}</li>
            <li>{{ transaction.tag.category }}</li>
        </ul>       
</article>
    
{% endfor %}
    <aside>
        <nav>
            <ul>
                <li>Add transaction button</li>
                <li>Add/edit company</li>
                <li>Add/edit category</li>
            </ul>
        </nav>
    </aside>
{% endblock %}